@model List<Public.Dtos.Car.CarDto>

@{
    ViewBag.Title = "Saled Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="card mt-5">
                <header class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="card-title">Saled Cars</h2>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="cars">
                                <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Customer Name</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var car in Model)
                                {
                                    <tr>
                                        <td>@car.Brand</td>
                                        <td>@car.Model</td>
                                        <td>@car.CustomerFullName</td>
                                        <td>@car.Price</td>
                                    </tr>

                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">
    
    $(document).ready(function () {
      $('#cars').DataTable();        
    });
 </script>
}